{% extends 'base.html.twig' %}

{% block authenticatedUsername %}{{ include('@NSEP/Default/userid.html.twig') }}{% endblock authenticatedUsername %}
{% block contentdetail %}
    <h1>Assignment list</h1>

    <ul>
        <li>
            <a href="{{ path('assignment_new') }}" class="btn btn-warning">Create a new Assignment</a>
            <a href="{{ path('course_index') }}" class="btn btn-primary">Back</a>
        </li>
    </ul>

    <!-- Zero Configuration Table -->
    <br><div class="panel panel-default">
        <div class="panel-heading">Your Assignment</div>
        <div class="panel-body">
            <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Assignmentid</th>
                    <th>Assignmentname</th>
                    <th>Assignmentdescription</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for assignment in assignments %}
                    <tr>
                        <td>{{ assignment.id }}</td>
                        <td>{{ assignment.assignmentid }}</td>
                        <td><a href="{{ path('submissions_all', { 'id': assignment.id }) }}">{{ assignment.assignmentname }}</a></td>
                        <td>{{ assignment.assignmentdescription }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('assignment_show', { 'id': assignment.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('assignment_edit', { 'id': assignment.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock contentdetail %}
