{% extends 'base.html.twig' %}

{% block authenticatedUsername %}{{ include('@NSEP/Default/userid.html.twig') }}{% endblock authenticatedUsername %}
{% block contentdetail %}
    <h1>Assignment</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ assignment.id }}</td>
            </tr>
            <tr>
                <th>Assignmentid</th>
                <td>{{ assignment.assignmentid }}</td>
            </tr>
            <tr>
                <th>Assignmentname</th>
                <td>{{ assignment.assignmentname }}</td>
            </tr>
            <tr>
                <th>Assignmentdescription</th>
                <td>{{ assignment.assignmentdescription }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{% if assignment.createddate %}{{ assignment.createddate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('assignment_index') }}" class="btn btn-warning">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('assignment_edit', { 'id': assignment.id }) }}" class="btn btn-primary">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-success">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock contentdetail %}
