{% extends 'base.html.twig' %}

{% block authenticatedUsername %}{{ include('@NSEP/Default/userid.html.twig') }}{% endblock authenticatedUsername %}
{% block contentdetail %}
    <h1>Course edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br><input class="btn btn-success" type="submit" value="Save" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <br><a href="{{ path('course_index') }}" class="btn btn-primary">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <br><input class="btn btn-warning" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock contentdetail %}
