{% extends 'base.html.twig' %}

{% block authenticatedUsername %}{{ include('@NSEP/Default/userid.html.twig') }}{% endblock authenticatedUsername %}
{% block contentdetail %}
    <h1>Course</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ course.id }}</td>
            </tr>
            <tr>
                <th>Courseid</th>
                <td>{{ course.courseid }}</td>
            </tr>
            <tr>
                <th>Coursename</th>
                <td>{{ course.coursename }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('course_index') }}" class="btn btn-primary">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('course_edit', { 'id': course.id }) }}" class="btn btn-primary">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-primary">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock contentdetail %}
