{% extends 'base.html.twig' %}

{% block authenticatedUsername %}{{ include('@NSEP/Default/userid.html.twig') }}{% endblock authenticatedUsername %}
{% block contentdetail %}
    <h1>Submission list</h1>

    <ul>
        <li>
            <a href="{{ path('submission_new',{ 'id' : id }) }}" class="btn btn-warning">Create a new Submission</a>
            <a href="{{ path('course_assignments',{ 'id' : aid }) }}" class="btn btn-warning">Back</a>
        </li>
    </ul>

    <br>
    <!-- Zero Configuration Table -->
    <div class="panel panel-default">
        <div class="panel-heading">Your Submissions</div>
        <div class="panel-body">
            <table id="zctb" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Submission</th>
                        <th>Uploaded</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for submission in submissions %}
                <tr>
                    <td class="sub_id"><a href="{{ path('submission_show', { 'id': submission.id }) }}">{{ submission.id }}</a></td>
                    <td>{{ submission.imageName }}</td>
                    <td>{% if submission.updatedAt %}{{ submission.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td class="sub_status">{{ submission.status }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('submission_show', { 'id': submission.id }) }}" class="btn btn-primary">show</a>
                                <a href="{{ path('test_grade',{'id': submission.id }) }}" class="btn btn-primary grade">{{ submission.status }}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock contentdetail %}
{% block cumstomScript %}
    <script type="application/javascript">
        $(
                $('.grade').click(
                        function($e){
                            var the_id=$('.sub_id',$e.target.closest('tr')).text();
                            $.ajax({
                                type: "POST",
                                data: {id:the_id},
                                url: "{{ path('test_grade') }}",
                                success: function(data){
                                    //$("span#votes_number").html(data); //data will be containing the vote count which you have echoed from the controller
                                    var d=data.split(':')[0];
                                    var id=data.split(':')[1];
                                    var state="Error occurred.";
                                    var action="Grade";

                                    if(d="OK"){
                                        state="Pending";
                                        action="Check";
                                    }

                                    $('.sub_id')
                                            .each(function(i,td){
                                                if($(td).text()==id){
                                                    $('.sub_status',td.closest('tr'))
                                                            .text(state);
                                                    $('.grade',td.closest('tr'))
                                                            .text(action);
                                                }
                                            })
                                }
                            });
                        }
                )
        );

    </script>
{% endblock %}