{% extends 'base.html.twig' %}

{% block authenticatedUsername %}{{ include('@NSEP/Default/userid.html.twig') }}{% endblock authenticatedUsername %}
{% block contentdetail %}
    <h1>Submission creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br><input class="btn btn-success" type="submit" value="Upload" />
    {{ form_end(form) }}

    <ul>
        <li>
            <br><a href="{{ path('submission_index') }}" class="btn btn-primary">Back to the list</a>
        </li>
    </ul>
{% endblock contentdetail %}
